# Default values for runtime-sensor.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

## Provide a name in place of runtime-sensor.
##
nameOverride: ""
clusterName: "dev"
snykGroupId: "ffffffff-ffff-ffff-ffff-fffffffffffff"
snykAPIBaseURL: api.snyk.io:443
### Provide the name of the secret
secretName: snyk-secret

# Debug node
debug: "false"

### Secret provider details
secretProvider: none

# Tolerations allow pods to be scheduled on nodes with specific taints
tolerations: []

## Provide Snyk runtime sensor container image and resources.
sensor:
  image:
    repository: snyk/runtime-sensor
  # -- Create the manager ServiceAccount
  resources:
    requests:
      memory: 512Mi
      cpu: 100m
    limits:
      memory: 1024Mi
      cpu: 500m
  serviceAccount:
    create: true
    annotations: {}
    # name: nameOverride
  podAnnotations: {}
  podLabels: {}
  ## List of additional cli arguments to configure the sensor
  ## for example: --labels, etc.
  extraArgs: []
## Create the provided Roles and RoleBindings
##
role:
  create: true
## Create the provided ClusterRoles and ClusterRoleBindings
##
clusterRole:
  create: true
securityContext:
  # -- Run the pod with elevated privileges
  privileged: false
  # -- Capabilities for the `runtime-sensor` container
  capabilities:
    # Basic requirements for eBPF
    - BPF
    - PERFMON
    - SYS_RESOURCE
    # Determine if packages are loaded
    - DAC_READ_SEARCH
    - SYS_PTRACE
    # Determine pod networking patterns
    - NET_ADMIN
