name: Release Charts

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get Latest Tag
        id: get-tag
        uses: WyriHaximus/github-action-get-previous-tag@v1.4.0
        with:
            fallback: v1.69.0

      - name: Get version
        id: get-version
        run: |
          tag=${{ steps.get-tag.outputs.tag }}
          echo "version=${tag##*-}" >> $GITHUB_OUTPUT

      - name: Set Helm chart version from tag
        uses: mikefarah/yq@master
        with:
          cmd: |
            yq e -i '.version = "${{ steps.get-version.outputs.version }}"' ./helm/runtime-sensor/Chart.yaml

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
      
      - name: Install Helm
        uses: azure/setup-helm@v3

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.6.0
        with:
          skip_existing: true
          charts_dir: helm
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
